

/* hero section */
$primary-lightpink: #fee0dc;
$primary-lightgreen: #b2d297;
$primary-lightgray: #e4eded;
$primary-lightbrown: #a1957d;
$secondary-lightyellow: #fded82;
$secondary-green: #97bc78;
$secondary-green-dark: #5e7c60;
$accent-red: #fc5c75;
$accent-orange: #f5b54d;
$zh-tw-maru: 'A-OTF Maru Folk Pro', sans-serif;
$zh-tw-noto: 'Noto Sans TC', sans-serif;
$en-itim: 'Itim', cursive;
$en-open-sans: 'Open Sans', sans-serif;
.allComment{


.hero-section {
    background: url(http://localhost:3000/images/comment/back.png) center;
    background-size: cover;
    height: 500px;
    width: 100%;
    position: relative;
  }
  
  .h1.title {
    top: 3vw;
    position: absolute;
    left: 18.9vw;
    margin: 0;
    font-family: $zh-tw-maru;
    color: $primary-lightbrown;
  }
  .h3.title {
    top: 6.3vw;
    position: absolute;
    left: 18.9vw;
    margin: 0;
    font-family: $zh-tw-maru;
    color: $primary-lightbrown;
  }
  .top-wave {
    max-width: 100vw;
    height: 9.84vw;
    position: relative;
    margin: 0;
    /* top: 500px; */
    top: calc(500px - 9.7vw);
  }
  
  .top-wave .wave-1 {
    width: 100%;
  }
  
  .top-wave .elfin {
    width: 5.2vw;
    position: absolute;
    top: 1.97vw;
    left: 31.35vw;
  }
  
  @media screen and (max-width: 1200px) {
  
    .hero-section{
      width: 100%;
      height: 210px;
      padding: 0 30px;
      box-sizing: border-box;
    }
    .top-wave{
      position: relative;
      top: 60px;
      background: white;
      width: 100%;
      height: 130px;
      border-radius: 30px;
  
    }
    .top-wave .wave-1{
      display: none;
    }
    .h1.title{
      top: 33px;
      left: 50%;
    }
    .h3.title{
      position: absolute;
      top: 80px;
      left: 50%;
    }
    .top-wave .elfin {
      width: 60px;
      position: absolute;
      top: 20px;
      left: 25%;
    }
  }
}