.star{
    display: inline-block;
}
.star>span{
    display: inline-block;
    width: 1.6vw;
    height: 1.4vw;
    background-size: 1.6vw;
}
.star0{
    background-image: url(http://127.0.0.1:3000/images/comment/star-empty.svg);
}
.star1{
    background-image: url(http://127.0.0.1:3000/images/comment/star-empty.svg);
}
.star2{
    background-image: url(http://127.0.0.1:3000/images/comment/star-click.svg);
}