@import '../common/global.scss';

.main-header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.main-header a,
.main-header a:link {
  color: $secondary-green-dark;
  font-family: $zh-tw-noto;
}
.main-header a:hover {
  color: $secondary-green;
  font-family: $zh-tw-noto;
}

.main-header {
  background-color: rgba(255, 255, 255, 0.9);
}
.main-header .header-container {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 6px 8px rgba(50, 50, 50, 0.5);
}

.main-header .logo {
  width: 120px;
}

@media screen and (max-width: 900px) {
  .main-header .logo {
    width: 90px;
  }
}

.main-header .logo img {
  vertical-align: middle;
  width: 100%;
  padding: 0 0 0 40px;
}
.main-header .header-nav {
  padding: 10px 0 0 0;
}
.main-header .header-nav-ul {
  display: flex;
  flex-wrap: nowrap;
}

.main-header
  .header-nav
  a:not(.header-cartImg):not(.header-cart):not(.header-circle):not(.header-slide-menu
    li
    a) {
  text-decoration: none;
  padding: 40px 1.12vw;
  transition: 0.2s;
}
.header-slide-menu li a {
  text-decoration: none;
  font-size: calc(1rem + 0.2vw);
  transition: 0.2s;
}
.main-header .header-nav .slide-down:hover ul.header-slide-menu {
  opacity: 1;
  display: block;
}

.main-header .header-nav a:hover {
  color: $primary-lightbrown;
  transition: 0.2s;
}
.header-nav ul li {
  position: relative;
}
.header-nav ul.header-slide-menu {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  flex-direction: column;
  display: none;
  margin-top: 36.6px;
  border-radius: 10px;
  padding: 0;
}
.header-nav ul.header-slide-menu a:hover {
  color: #fff;
  transition: 0.2s;
}
.header-slide-menu li:hover {
  background-color: $secondary-green;
  transition: 0.2s;
}

.header-slide-menu li {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.header-slide-menu li a {
  text-align: center;
  display: block;
  padding: 10px 1.12vw;
}

.header-cart {
  text-decoration: none;
  color: $secondary-green-dark;
  transform: translateY(0px);
  transition: 0.5s;
  padding-left: 1vw;
}

.header-cartImg {
  padding-right: 1vw;
}
.header-circle {
  top: -10px;
  left: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fc5c75;
  position: absolute;
  filter: drop-shadow(0px 3px 6px rgba(50, 50, 50, 0.5));
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $zh-tw-noto;
  color: white;
}
.header-cartImgAndCircle {
  position: relative;
}

.top-border-radius {
  border-radius: 10px 10px 0 0;
}

.bottom-border-radius {
  border-radius: 0 0 10px 10px;
}

.cart-image {
  width: 30px;
}

li.login {
  padding-right: 20px;
}
/* <!--header===================================================================================== --> */
// for cart

.cart-big {
  border-radius: 15px;
  z-index: 2;
  background: $primary-lightgreen;
  position: fixed;
  right: 50px;
  top: 100px;
  width: 32vw;
  height: 32vw;
  box-shadow: 0px 3px 6px rgba(50, 50, 50, 0.5);
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-big.disabled {
  display: none;
}
.cart-div {
  display: flex;
}
.header-cart.active {
  color: #97bc78;
}
.cart-list {
  // border: 1px solid blue;
  height: 85%;
  width: 100%;
  overflow: auto;
}
.cart-title {
  width: 100%;
}
.cart-submit {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
  // height: 80px;
  background: white;

  border-radius: 0 0 15px 15px;
}
.cart-submit .button-orange {
  border-radius: 25px;
  align-items: center;
  background: $accent-orange;
  border: none;
  width: 150px;
  height: 50px;
  box-shadow: 0px 3px 6px rgba(50, 50, 50, 0.5);
  transition: 0.2s;
  color: white;
}
.cart-detail {
  display: flex;
  background: $primary-lightpink;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
  margin: 10px auto;
  border-radius: 15px;
  color: $secondary-green-dark;
}
.cart-detail figure {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  overflow: hidden;
}
.cart-detail figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cart-info {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin-right: 10px;
}
.cart-info h4 {
  font-family: $zh-tw-noto;
  margin: 0 10px 0 20px;
  font-size: 18px;
}
.cart-info-name {
  flex-grow: 1;
}
.cart-total {
  font-family: $zh-tw-noto;
  color: #333;
}
