.aside {
  @import '../../styles/common/global.scss';

  @keyframes slidein-aside {
    0% {
      transform: translateY(-500%);
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .aside-to-footer {
    position: absolute;
    z-index: -1;
    width: 16.66vw;
    height: 200px;
    background-color: $primary-lightgreen;

    animation: slidein-aside 1.2s;
  }
}
