.aside {
  @import '../../styles/common/global.scss';

  /********** 左側：導覽列 *********/
  .left-side {
    position: absolute;
    // height: 926px;
    top: 0;
    z-index: -1;
    width: 16.66vw;
    // min-height:110%;
    background-color: #b2d297;
  }
  @media screen and (max-width: 768px) {
    .left-side {
      display: none;
    }
  }

  .left-side .nav {
    width: 13.02vw;
    height: 16.66vw;
    background-color: rgba(255, 255, 255, 80%);
    border-radius: 1.56vw;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    margin: 0 1.82vw;
    margin-top: 28vw;
    position: sticky;
    top: 90px;
    left: 0;
  }
  .left-side .nav .nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .left-side .nav .nav-row a,
  .left-side .nav .nav-row .nav-content {
    margin-left: 2.7vw;
    text-decoration: none;
    color: $primary-lightbrown;
    display: flex;
    align-items: center;
  }
  .left-side .nav .nav-row a.active,
  .left-side .nav .nav-row .nav-content.active {
    color: $secondary-green;
    cursor: default;
    pointer-events: none;
  }
  .left-side .nav .nav-row a.active path,
  .left-side .nav .nav-row .nav-content.active path {
    fill: $secondary-green;
  }
  .left-side .nav .nav-row a:hover,
  .left-side .nav .nav-row .nav-content:hover {
    color: $secondary-green;
  }
  .left-side .nav .nav-row a:hover path,
  .left-side .nav .nav-row a:active path,
  .left-side .nav .nav-row .nav-content:hover path,
  .left-side .nav .nav-row .nav-content:active path {
    fill: $secondary-green;
  }
  .left-side .nav .nav-icon {
    width: 3vw;
    height: 3vw;
  }
  .left-side .nav .nav-title-box {
    width: 100%;
    height: 2vw;
    margin-left: 1vw;
    border-bottom: 1px solid $primary-lightbrown;
  }
  .left-side .nav .nav-title {
    margin: 0;
    font-family: $zh-tw-maru;
  }
  @media screen and (max-width: 1200px) {
    .left-side .nav .nav-title {
      font-size: 1rem;
    }
  }
  @media screen and (max-width: 1000px) {
    .left-side .nav .nav-title {
      font-size: 0.8rem;
    }
  }

  /********** 手機版導覽列 **********/
  .nav-md {
    display: none;
  }
  @media screen and (max-width: 768px) {
    .nav-md {
      display: unset;
    }
    .nav-md > .container-md {
      display: flex;
      justify-content: space-between;
    }
    .nav-md ul {
      margin: 0;
      padding: 0;
    }
    .nav-md .nav-content {
      text-decoration: none;
    }
    .nav-md h4 {
      margin: 22px 0;
      padding: 10px 5px;
      color: $primary-lightbrown;
      font-family: $zh-tw-maru;
      transition: 0.2s;
    }
    .nav-md h4:hover,
    .nav-md .active {
      border-radius: 5px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
      color: $primary-lightgreen;
    }
  }
}
