.delivery {
  @import '../common/global.scss';

  /********** 主畫面 **********/
  .main {
    width: 100%;
  }
  .main-container {
    width: 100%;
    height: 100%;
    display: flex;
  }

  @media screen and (max-width: 768px) {
    .main-container {
      width: unset;
      padding: 0 30px;
      flex-direction: column;
    }
  }

  /********** 右側 *********/
  .right-side {
    width: 100%;
    margin-left: 16.66vw;
    display: flex;
    flex-direction: column;
    padding-right: 8.33vw;
  }
  /* 增加部分 */
  @media screen and (max-width: 768px) {
    .right-side {
      width: unset;
      margin-left: 0;
      padding: 0;
    }
  }

  /********** 右側：頁籤 **********/
  .tab {
    margin: 0 auto;
    /* padding-bottom: 2vw; */
  }
  .tab-container {
    width: 18vw;
    border: 1px solid $secondary-green;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-family: $zh-tw-noto;
    cursor: pointer;
  }
  @media screen and (max-width: 1000px) {
    .tab-container {
      width: 210px;
    }
  }
  @media screen and (max-width: 768px) {
    .tab-container {
      width: 136px;
      font-size: 12px;
    }
}
  .tab-item {
    width: 100%;
    height: 100%;
    color: $secondary-green;
  }
  .tab-item:nth-child(1) {
    border-radius: 50px 0 0 50px;
  }
  .tab-item:nth-child(2) {
    border-radius: 0 50px 50px 0;
  }
  .tab-item h4 {
    margin: 0;
    height: clamp(30px, 3.3vw, 3.3vw);
    line-height: clamp(30px, 3.3vw, 3.3vw);
  }
  @media screen and (max-width: 768px) {
    .tab-item h4 {
      font-size: 12px;
    }
  }
  .tab-item.active {
    color: #fff;
    background-color: $secondary-green;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    cursor: default;
  }

  .content-spinner {
    text-align: center;
    margin: 100px 0;
  }

  /********** 右側：內容 *********/
  .recent-content {
    padding-left: 4.95vw;
    font-family: $zh-tw-noto;
  }
  @media screen and (max-width: 768px) {
    .recent-content {
      padding-left: unset;
    }
  }
  .history-content {
    padding-left: 4.95vw;
    font-family: $zh-tw-noto;
  }
  @media screen and (max-width: 768px) {
    .history-content {
      padding-left: unset;
    }
  }
  .content-container {
    width: 60.3vw;
    border: 1px solid $primary-lightgreen;
    border-radius: 0.52vw;
    margin: 2.6vw;
  }
  @media screen and (max-width: 1000px) {
    .content-container {
      width: 72vw;
    }
  }
  @media screen and (max-width: 768px) {
    .content-container {
      width: 100%;
      border-radius: 10px;
      margin: 20px 0;
    }
  }
  .content-head {
    height: 4vw;
    background-color: $primary-lightgreen;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.3vw;
    border-radius: 0.52vw 0.52vw 0 0;
    color: #fff;
  }
  @media screen and (max-width: 1000px) {
    .content-head {
      height: 45px;
    }
  }
  @media screen and (max-width: 768px) {
    .content-head {
      padding: 0 10px;
      border-radius: 10px 10px 0 0;
    }
  }
  .content-head-title {
    margin: 0;
  }

  .detail-container {
    display: none;
  }
  @media screen and (max-width: 768px) {
    .detail-container {
      display: block;
      font-size: 23px;
      cursor: pointer;
    }
  }
  .content-body {
    padding: 1.5625vw 1.04vw 0 1.04vw;
  }
  .content-table {
    width: 100%;
    color: $primary-lightbrown;
    border-collapse: collapse;
  }
  .content-table thead {
    color: $secondary-green-dark;
    border-bottom: 1px solid $primary-lightbrown;
    text-align: center;
  }
  .content-table th {
    padding-bottom: 5px;
    font-weight: normal;
  }
  @media screen and (max-width: 768px) {
    .recent-content
      .content-table
      th:not(:nth-child(1), :nth-child(4), :nth-child(6)) {
      display: none;
    }
  }
  @media screen and (max-width: 768px) {
    .recent-content .content-table tr:not(:nth-child(1)) {
      display: none;
    }
  }
  .content-table td {
    padding: 10px 5px;
    text-align: center;
  }
  @media screen and (max-width: 768px) {
    .recent-content
      .content-table
      td:not(:nth-child(1), :nth-child(4), :nth-child(6)) {
      display: none;
    }
  }
  .recent-content .content-table td:nth-child(2) {
    width: 130px;
    text-align: left;
  }
  .recent-content .content-table td:nth-child(2) p {
    margin: 0;
  }
  .content-table td i {
    font-size: 1.82vw;
    color: $primary-lightgreen;
  }
  @media screen and (max-width: 768px) {
    .content-table td i {
      font-size: 23px;
    }
  }

  /* 電腦版按鈕列 */
  .content-foot {
    height: 4.16vw;
    min-height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  @media screen and (max-width: 768px) {
    .content-foot {
      display: none;
    }
  }
  .content-foot .btns-container {
    flex-grow: 0.1;
    display: flex;
    justify-content: space-evenly;
  }
  .content-foot .guide-button {
    width: fit-content;
    height: 2.3vw;
    min-height: 28px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 10px;
  }
  .cancel-resv-btn {
    color: $primary-lightbrown;
    background-color: unset;
    box-shadow: unset;
    /* box-shadow: 0 2px 0 rgba(0, 0, 0, 16%); */
  }
  /* 手機版按鈕列 */
  .content-foot-md {
    display: none;
  }
  @media screen and (max-width: 768px) {
    .content-foot-md {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
    }
    .content-foot-md .msgbox-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .content-foot-md .msgbox-container p {
      margin: 5px 0;
      color: $primary-lightbrown;
    }
    .content-foot-md .btns-container {
      /* flex-grow: 0.1; */
      display: flex;
      /* justify-content: space-between; */
    }
    .content-foot-md .guide-button {
      width: fit-content;
      height: 28px;
      min-height: 28px;
      font-size: 12px;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
