$primary-lightpink: #fee0dc;
$primary-lightgreen: #b2d297;
$primary-lightgray: #e4eded;
$primary-lightbrown: #a1957d;
$secondary-lightyellow: #fded82;
$secondary-green: #97bc78;
$secondary-green-dark: #5e7c60;
$accent-red: #fc5c75;
$accent-orange: #f5b54d;
$zh-tw-maru: 'A-OTF Maru Folk Pro', sans-serif;
$zh-tw-noto: 'Noto Sans TC', sans-serif;
$en-itim: 'Itim', cursive;
$en-open-sans: 'Open Sans', sans-serif;
$box-shadow: rgba(50, 50, 50, 0.5) 0px 3px 6px;

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

h1,
.h1 {
  font-size: calc(1rem + 1.25vw);
}
h2,
.h2 {
  font-size: calc(1rem + 0.85vw);
}
h3,
.h3 {
  font-size: calc(1rem + 0.45vw);
}
h4,
.h4 {
  font-size: calc(1rem + 0.2vw);
}
p,
span {
  font-size: 1rem;
  font-family: $zh-tw-noto;
}

// input高度設為文字高度*2
input,
.input {
  height: 2rem;
  border: 1px solid $primary-lightbrown;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 16px;
  padding: 8px 0 8px 10px;
  box-sizing: border-box;
  color: $primary-lightbrown;
  outline: none;
  &:focus {
    box-shadow: 0 0 0 1px $primary-lightbrown;
  }
}

textarea,
.textarea {
  border: 1px solid $primary-lightbrown;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 16px;
  padding: 8px 0 8px 10px;
  color: $primary-lightbrown;
  outline: none;
  &:focus {
    box-shadow: 0 0 0 1px $primary-lightbrown;
  }
}

.guide-button {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 25px;
  font-size: 20px;
  font-family: $zh-tw-noto;
  color: #ffffff;
  box-shadow: $box-shadow;
  box-sizing: border-box;
  cursor: pointer;
  &:hover {
    box-shadow: none;
  }
}

.pink-guide-button {
  @extend .guide-button;
  background-color: $accent-red;
  &:active {
    background-color: darken($accent-red, 10%);
  }
}

.orange-guide-button {
  @extend .guide-button;
  background-color: $accent-orange;
  &:active {
    background-color: darken($accent-orange, 10%);
  }
}

ul {
  padding-left: 0;

  li {
    list-style: none;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
  h1,
  .h1 {
    font-size: 1.67rem;
  }
  h2,
  .h2 {
    font-size: 1.5rem;
  }
  h3,
  .h3 {
    font-size: 1.33rem;
  }
  h4,
  .h4 {
    font-size: 1.17rem;
  }
  p,
  .p {
    font-size: 1rem;
  }
  span,
  .span {
    font-size: 1rem;
  }
}
/* --------------------- */
