:root {
  --primary-lightpink: #fee0dc;
  --primary-lightgreen: #b2d297;
  --primary-lightgray: #e4eded;
  --primary-lightbrown: #a1957d;
  --secondary-lightyellow: #fded82;
  --secondary-green: #97bc78;
  --secondary-green-dark: #5e7c60;
  --accent-red: #fc5c75;
  --accent-orange: #f5b54d;
  --zh-tw-maru: 'A-OTF Maru Folk Pro', sans-serif;
  --zh-tw-noto: 'Noto Sans TC', sans-serif;
  --en-itim: 'Itim', cursive;
  --en-open-sans: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4 {
  font-weight: 400;
}
h1,
.h1 {
  font-size: calc(1rem + 1.25vw);
}
h2,
.h2 {
  font-size: calc(1rem + 0.85vw);
}
h3,
.h3 {
  font-size: calc(1rem + 0.45vw);
}
h4,
.h4 {
  font-size: calc(1rem + 0.2vw);
}
p,
span {
  font-size: 1rem;
}
input,
.input {
  height: 2rem;
  border: 1px solid var(--primary-lightbrown);
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 16px;
  padding: 8px 0 8px 10px;
  box-sizing: border-box;
  color: var(--primary-lightbrown);
}
input:focus {
  outline: 1px solid var(--primary-lightbrown);
}
textarea,
.textarea {
  border: 1px solid var(--primary-lightbrown);
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 16px;
  padding: 8px 0 8px 10px;
  color: var(--primary-lightbrown);
}
textarea:focus {
  outline: 1px solid var(--primary-lightbrown);
}
.guide-button {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 25px;
  font-size: 20px;
  font-family: var(--zh-tw-noto);
  color: #ffffff;
  box-shadow: rgba(50, 50, 50, 0.5) 0px 3px 6px;
  box-sizing: border-box;
}
.guide-button:active {
  box-shadow: none;
}
.guide-button.pink {
  background-color: var(--accent-red);
}
.guide-button.orange {
  background-color: var(--accent-orange);
}

@font-face {
  font-family: A-OTF Maru Folk Pro;
  src: url(http://localhost:3000/fonts/A-OTF-MaruFoPro-Regular.otf);
}

li {
  list-style: none;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
  h1,
  .h1 {
    font-size: 1.67rem;
  }
  h2,
  .h2 {
    font-size: 1.5rem;
  }
  h3,
  .h3 {
    font-size: 1.33rem;
  }
  h4,
  .h4 {
    font-size: 1.17rem;
  }
  p,
  .p {
    font-size: 1rem;
  }
  span,
  .span {
    font-size: 1rem;
  }
}
/* --------------------- */
